.beastmode {
  max-height: 300px;
  max-width: 300px;
  margin-top: 30px;
  margin: 0 auto;
}

.projects {
  margin: 0 auto;
  background-color: black;
}

.fab {
  height: 100px;
  width: 100px;
}

.social-icons:hover {
  border: 5px solid black;
  transition: all 0.5s ease;
}

.project-info {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.proj-title {
  color: white;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

.proj-header {
  color: white;
  padding-left: 20px;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  padding-bottom: 30px;
}
