.intro {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  background: url(https://wallpapercave.com/wp/wp2905361.jpg) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (max-width: 568px) {
  .intro-text {
    padding-top: 420px;
  }
}

@media only screen and (max-width: 667px) {
  .intro-text {
    padding-top: 510px;
  }
}

.intro-div {
  text-align: left;
  padding-bottom: 20px;
}
.intro-h1 {
  color: white;
  padding-left: 20px;
  font-weight: 300;
  font-size: 40px;
}

.intro-h2 {
  color: white;
  padding-left: 20px;
  font-weight: 300;
  font-size: 20px;
}

.intro-text {
  color: white;
  padding-left: 20px;
}
