* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  padding: 10px;
  border-radius: 2px;
}

.up-button {
  height: 70px;
  width: 70px;
}

.up-button:hover {
  width: 90px;
  height: 90px;
  -webkit-transition-property: height, width;
  -webkit-transition-duration: 1s;
  -moz-transition-property: height, width;
  -moz-transition-duration: 1s;
  transition-property: height, width;
  transition-duration: 1s;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "intro "
    "about "
    "projects "
    "footer ";
}

.intro {
  grid-area: intro;
}

.about {
  grid-area: about;
}
.projects {
  grid-area: projects;
}

.footer {
  grid-area: footer;
}

@media screen and (max-width: 736px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "intro intro"
      "about"
      "projects projects"
      "footer footer";
  }
}

/* -------------------Intro Section-------------------------------- */

.intro {
  content: "";
  display: block;
  left: 0;
  top: 0;
  /* width: 100%; */
  height: 100vh;
  z-index: -10;
  background: url(https://wallpaperaccess.com/full/439712.jpg) no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-div {
  text-align: left;
  padding-bottom: 20px;
}

.intro-h1 {
  color: white;
  padding-left: 20px;
  font-weight: 300;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Libre Baskerville", serif;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgb(79, 186, 111);
}

.anim-typewriter {
  animation: typewriter 2s steps(30) 1s 1 normal both,
    blinkTextCursor 550ms steps(30) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: white transparent;
  }
  to {
    border-right-color: transparent;
  }
}

.intro-h2 {
  color: white;
  padding-left: 20px;
  font-weight: 300;
  font-size: 20px;
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: "Libre Baskerville", serif;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgb(79, 186, 111);
}

.anim-typewriter1 {
  animation: typewriters 2s steps(30) 1s 1 normal both,
    blinkTextCursor 550ms steps(30) infinite normal;
}
@keyframes typewriters {
  from {
    width: 0;
  }
  to {
    width: 12em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: white transparent;
  }
  to {
    border-right-color: transparent;
  }
}

.intro-text {
  font-size: 25px;
  color: white;
  padding-left: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Libre Baskerville", serif;
}

.intro-p {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid rgb(79, 186, 111);
}

.anim-typewriter2 {
  animation: typewriterss 2s steps(30) 1s 1 normal both,
    blinkTextCursor 550ms steps(30) infinite normal;
}
@keyframes typewriterss {
  from {
    width: 0;
  }
  to {
    width: 20em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: white transparent;
  }
  to {
    border-right-color: transparent;
  }
}

@media screen and (max-width: 736px) {
  .intro-text {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .intro-h1 {
    font-size: 50px;
  }
  .intro-h2 {
    font-size: 30px;
    top: 60px;
  }
  .intro-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .intro-h1 {
    font-size: 80px;
  }
  .intro-h2 {
    font-size: 40px;
    top: 90px;
  }
  .intro-text {
    font-size: 30px;
  }
}

/* --------------About Section------------------- */

.about-h1 {
  padding-left: 25px;
  font-family: "Libre Baskerville", serif;
  font-size: 60px;
  padding-bottom: 60px;
}
.about {
  background: url(https://www.lefthudson.com/wp-content/uploads/2019/11/cube-wallpapers-best-of-cube-wallpapers-ideas-of-cube-wallpapers.jpg)
    no-repeat center center;
  color: white;
  font-size: 18px;
  font-weight: 300;
  /* opacity: 80%; */
  height: 100%;
  width: 100%;
  padding-top: 30px;
  background-size: cover;
  padding-bottom: 60px;
}

/* -----------------------------Project Section------------------------------ */

.beastmode {
  max-height: 400px;
  max-width: 400px;
  margin-top: 30px;
  margin: 0 auto;
}

.project-div {
  height: 100%;
  width: 100%;
  background-color: black;
  padding-top: 50px;
}

.title-h1 {
  padding-left: 25px;
  font-family: "Libre Baskerville", serif;
  font-size: 60px;
  color: white;
  padding-bottom: 60px;
}
.fab {
  height: 100px;
  width: 100px;
}

.project-info {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.proj-title {
  color: white;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

.proj-header {
  color: white;
  padding-left: 20px;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  padding-bottom: 30px;
  font-family: "Libre Baskerville", serif;
}

.project-desc {
  color: white;
  width: 50%;
  margin: 0 auto;
}

.icon-row {
  justify-content: space-between;
}

.social-icon {
  height: 50px;
  width: 50px;
  padding-right: 20px;
  opacity: 70%;
}

@media screen and (min-width: 320px) {
  .beastmode {
    max-height: 200px;
    max-width: 250px;
    margin-top: 30px;
    margin: 0 auto;
  }
}

/* Other IPhones */

@media screen and (min-width: 375px) {
  .beastmode {
    max-height: 250px;
    max-width: 250px;
    margin-top: 30px;
    margin: 0 auto;
  }
}

/* IPhone Plus */
@media screen and (min-width: 414px) {
  .beastmode {
    max-height: 300px;
    max-width: 300px;
    margin-top: 30px;
    margin: 0 auto;
  }
}

/* IPad */

@media screen and (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: auto auto;
  }
  .beastmode {
    max-width: 300px;
    max-height: 300px;
  }
}

/* IPad Pro */

@media screen and (min-width: 1024px) {
  .beastmode {
    max-width: 400px;
    max-height: 400px;
  }
}

@media screen and (min-width: 1366px) {
  .beastmode {
    max-width: 600px;
    max-height: 600px;
  }
}

/* Laptop*/

@media screen and (min-width: 1920px) {
  .beastmode {
    max-width: 700px;
    max-height: 700px;
  }
}

/* ----------------------Footer Section---------------------------- */

.main-footer {
  background: black;
}

.social-icons {
  height: 65px;
  width: 65px;
  padding-right: 20px;
  opacity: 70%;
}

.social-icons:hover {
  width: 80px;
  height: 80px;
  -webkit-transition-property: height, width;
  -webkit-transition-duration: 1s;
  -moz-transition-property: height, width;
  -moz-transition-duration: 1s;
  transition-property: height, width;
  transition-duration: 1s;
  fill: green;
}

.row {
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.copyright {
  color: white;
  text-align: center;
  padding-top: 25px;
  opacity: 70%;
  font-family: "Libre Baskerville", serif;
}

/* -------------------Skills Section--------------*/

.gridlock {
  display: grid;
  grid-template-columns: auto auto auto;

  display: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
  background-color: black;
}
.grid-iteM {
  text-align: center;
  padding-bottom: 50px;
}
.grid-iteM:after {
  border-bottom: 3px solid green;
  content: "";
  display: block;
  height: 10px;
  margin: 0 auto;
  width: 50px;
}

.jsx {
  height: 50px;
  width: 50px;
}

.skill-logo {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 10px;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.skill-logo:hover {
  background: rgb(79, 186, 111);
  opacity: 80%;
}

.skill-title {
  color: white;
}

.skills-h1 {
  color: white;
  text-align: left;
  font-family: "Libre Baskerville", serif;
  font-size: 60px;
  padding-left: 30px;
  padding-bottom: 50px;
}

.skills-div {
  background-color: black;
  color: white;
}

/* Other IPhones */

@media screen and (min-width: 375px) {
  .about-text {
    font-size: 12px;
    padding-right: 100px;
    padding-left: 30px;
  }
  .up-button {
    height: 40px;
    width: 40px;
  }
  .skill-logo {
    height: 100px;
    width: 100px;
  }
}

/* IPhone Plus */
@media screen and (min-width: 414px) {
  .about-text {
    font-size: 14px;
    padding-right: 100px;
    padding-left: 30px;
  }
  .up-button {
    height: 40px;
    width: 40px;
  }
}

/* IPad */

@media screen and (min-width: 768px) {
  .about-text {
    font-size: 20px;
    padding-right: 400px;
    padding-left: 30px;
  }
}

/* IPad Pro */

@media screen and (min-width: 1024px) {
  .about-text {
    font-size: 25px;
    padding-right: 600px;
    padding-left: 30px;
  }
  .about-h1 {
    font-size: 100px;
  }
  .title-h1 {
    font-size: 100px;
  }
  .skills-h1 {
    font-size: 100px;
  }
}

/* Laptop*/

@media screen and (min-width: 1366px) {
  .about-text {
    font-size: 25px;
    padding-right: 900px;
    padding-left: 30px;
  }
  .about-h1 {
    font-size: 100px;
  }
  .title-h1 {
    font-size: 100px;
  }
  .skills-h1 {
    font-size: 100px;
  }
}

@media screen and (min-width: 1304px) {
  .about-text {
    font-size: 25px;
    padding-right: 900px;
    padding-left: 30px;
  }
  .about-h1 {
    font-size: 100px;
  }
  .title-h1 {
    font-size: 100px;
  }
  .skills-h1 {
    font-size: 100px;
  }
}

@media screen and (min-width: 1800px) {
  .about-text {
    font-size: 25px;
    padding-right: 1100px;
    padding-left: 30px;
  }
  .about-h1 {
    font-size: 100px;
  }

  .title-h1 {
    font-size: 100px;
  }
  .skills-h1 {
    font-size: 100px;
  }
}

/* Laptop*/

@media screen and (min-width: 1920px) {
  .about-text {
    font-size: 30px;
    padding-right: 1400px;
    padding-left: 30px;
  }
  .about-h1 {
    font-size: 100px;
  }

  .title-h1 {
    font-size: 100px;
  }
  .skills-h1 {
    font-size: 100px;
  }
}

@media screen and (min-width: 2000px) {
  .about-text {
    font-size: 30px;
    padding-right: 1800px;
    padding-left: 30px;
  }
  .about-h1 {
    font-size: 100px;
  }
  .title-h1 {
    font-size: 100px;
  }
  .skills-h1 {
    font-size: 100px;
  }
}
